:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 996;
  background-color: rgba(0, 0, 0, 0.5);

  .overlay {
    display: grid;
    font-size: 24px;
  }
}
